body {
    font-family: arial;
}

h1 {
    color: #004e86;
}

#app {
    line-height: 15px;
    text-align: center;
    display: inline-block;
    margin: auto;
}

#app .point {
    width:15px;
    height:15px;
    float: left;
    margin: 2px;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
}

#app .point.wall {
    background: #4e4a4e;
}

#app .point.plant {
    border: 2px solid #309c49;
    border-radius: 8px;
}

#app .point.critter {
    background: #9c7a25;
}

#app .point.tiger {
    background: #9c142d;
}

ul {
    padding: 0px;
    list-style-type: none;
    font-size: 12px;
    font-family: monospace;
}