body {
    font-family: arial;
}

h1 {
    color: #1e3548;
    margin:0px;
}

#wrapper {
    width: 835px;
    text-align: center;
}

#app {
    line-height: 15px;
    text-align: center;
    display: inline-block;
    margin: auto;
}

table {
    border-collapse: collapse;
}

table td, .point {
    width:17px;
    height:17px;
    float: left;
    margin: 0px;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
}

table td.wall, .point.wall {
    background: #4e4a4e;
}

table td.plant, .point.plant {
    background: url("../images/green.png") no-repeat center;
}

table td.plantEater, .point.plantEater {
    background: url("../images/sheep.png") no-repeat center;
}

table td.tiger, .point.tiger {
    background: url("../images/tiger.png") no-repeat center;
}

table td.wall, .point.wall {
    background: url("../images/wall.png") no-repeat center;
}

ul {
    padding: 10px;
    background: #e7e7e7;
    list-style-type: none;
    font-size: 13px;
    line-height: 20px;
    margin: 0px;
}

ul li {
    display: inline-block;
    padding-right: 15px;
}

ul li .point {
    float: none;
    position: relative;
    top: 3px;
}